:root{
    --heading-font: "Playwrite HU";
    --normal-font:"Quicksand", sans-serif;
    --dark-brown: rgb(77, 45, 4);
    --darker-brown: rgb(55, 32, 3);
    --light-blue:  #a1dee2;
    --yellow: #fadb2e;
    --pink:  #F0D2D1;
    --light-brown: #C19A6B;
    --padding: 1rem;
    --border-radius: 30px;
}
header, footer{
    background-color: var(--light-blue);
    margin:0;
    text-align: center;
}
footer{
    padding: 1rem;
}
body{
    font-family: var(--normal-font);
    max-width: 1080px;
    background-color: var(--light-brown);
    min-width: 500px;
}
h1{
    padding: 1rem;
    margin: 0;
}
h1,h2,h3{
    font-family: var(--heading-font);
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}
h2{
    background-color: var(--pink);
    width: 100%;
}
p{
    text-align: center;
    padding: 1rem;
}
figcaption
{
    text-align: center;
}
/*  NAVIGATION */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute;
	top: 1rem;
	right: 1rem;
    color: white;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "x";
}

.navigation{
    display:flex;
    flex-direction: row;
    background-color: var(--yellow);
    display: none;
    max-width: 100%;
    justify-content: space-between;
}
.navigation ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    padding:0;
    margin:0;
}
.navigation li {
    padding: 1rem;
    text-align: center;
}
.navigation a{
    display: block;
    width: 100%;
    text-align: center;
    color: var(--light-color);
    text-decoration: none;
}
.navigation a:hover {
    color: white;
    font-weight: 700;
} 
.active
{
    font-weight: bold;
}
/* .navigation ul a.selected{
    font-weight: bold;
    color: black;
} */

/* when the button is clicked - the open class is toggled (added/removed) */
.navigation.open {
    display: flex; /* Show the <ul> when .navigation has the 'open' class */
    flex-direction: column;
}
header{
    display:flex;
    flex-direction: column;
}
.title
{
    display:grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: auto auto;
    padding: 1rem;
    margin:0;
}
.title h1{
    display: none;
}
/* .title:first-child
{
    justify-content: flex-end;
} */
/* MAIN LAYOUT */
.hero
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.hero-left
{
    padding: var(--padding);
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
/* 
    width: 700px; */
}
.hero-right
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: 100%; */
    /* box-sizing: border-box; */
    overflow:hidden;
}
.hero-bee-before
{
    display: none;
}
.hero-bee-after
{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin:30px;
}
.hero-bee-after img{
    transform:rotate(-30deg);
} 
.hero-event-photos
{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    gap:20px;
    margin:20px;
    box-sizing: border-box;
}
.hero-event-photos img
{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    gap:10px;
    margin:10px;
    height: 400px;
    width: auto;
}
/* CALENDAR */
.calendar
{
    /* width: 100%; */
    width: 500px;
    overflow-x: auto;
    /* transform: scale(1.1); */
    transform-origin: top left;
    max-width: 900px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 1rem;
    transition: transform 0.3s ease;
    overflow: auto;
    background-color: white;
    /* aspect-ratio: 2; */
    /* width:400px;
    height:400px; */
    /* background-color: var(--pink); */
}
.calendar h2{
    background-color: white;
}

.fc-toolbar-title
{
    color: var(--dark-brown);
    font-family: var(--normal-font);
    padding: 5px;
}
.fc-event {
    background-color: var(--pink);
    color: var(--dark-brown);
    border: 1px solid var(--yellow);
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    font-size: 12px;
}
.fc-daygrid-day
{
    min-height: 300px;
    min-width: 300px;
    padding: 10px;
}
.fc-daygrid-day-number {
    color: black; /* Light gray for out-of-month dates */
}
.fc-day-other .fc-daygrid-day-number {
    color: #585858; /* Light gray for out-of-month dates */
}
.show-event{
    box-sizing: border-box;
    margin-top: 50px;
    height: 2rem;
}
/* .interest-form{
    background-color: var(--light-blue);
} */
.interest-form fieldset{
    /* margin: 2rem 0; */
    border: 2px solid var(--dark-brown);
    border-radius: var(--border-radius);
    background-color: var(--light-blue);
}
.interest-form div{
    padding-top: var(--padding);
    font-size: .9rem;
    color: black;
}
.interest-form label
{
    display: block;
    color: black;
    font-size: .9rem;
    padding-top: var(--padding);
}
.interest-form input[type="text"],
/* .product-form input[type="radio"], */
/* .product-form input[type="checkbox"], */
.interest-form textarea,
.interest-form input[type="date"],
.interest-form select
{
    display: block;
    width: 100%;
    /* max-width: 400px; */
    padding: var(--padding);
    /* appearance: none; This is needed so browesr emulation doesn't overwrite it */
    box-sizing: border-box;/*This says calculate the padding inside the size */
    font-family: var(--normal-font);
    border: 1px solid var(--dark-brown);
}
.interest-form input[type="checkbox"]
{
    margin-right: 6px;
}
.interest-form input[type="submit"]
{
    border: none;
    color: var(--dark-brown);
    /* border-radius: var(--border-radius); */
    width: 96%;
    padding: var(--padding);
    /* max-width: 400px;;     */
    box-shadow: 1px 1px 4px #999;
    margin: 1rem;
    transform: translateX(-15px);
    }
    .ohighlight{
        color: #0E0EBD;
        font-size: .8rem;
    }
.rhighlight{
    color: #820C0C;
}
.smaller{
    display: block;
    font-size: .8rem;
}

.photo
{
    width:300px;
    height:300px;
    background-color: var(--yellow);
}
/* EVENTS PAGE */
.event-gallery{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-item picture{
    box-sizing: border-box;
    width: auto;
    height: 100%;
    object-fit: contain;
}
/* Scroll through upcoming events */
.upcoming-event-gallery{
    display:grid;
    grid-template-columns: 10% 80% 10%;
    border:1px solid black;
    box-sizing: border-box; /* Include padding and border in size */
}
.upcoming-event-gallery > * {
    grid-column: span 1; /* Ensure items stay within grid columns */
    overflow: hidden; /* Prevent content from overflowing */
    box-sizing: border-box; /* Include padding and border in size */
    justify-content: center;
    align-items: center;
}
.upcoming-event-gallery-items{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
    width:100%;
    box-sizing: border-box;
    align-items:stretch;
    margin:0;
    grid-auto-rows: 450px;
    overflow: hidden;
}
.upcoming-event-gallery-item{
    overflow: hidden;
    margin:0;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
 .upcoming-event-gallery-item picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
    height:100%;
    box-sizing: border-box;
    animation: fadeSlideIn 0.5s ease-in-out;
}

.upcoming-event-gallery-item img{

    width: auto;
    height: 300px;
    object-fit: contain;
    padding-top: 1rem;
} 
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* GALLERY PAGE */
.host{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.host h2{
    margin-top: 0;
}
.host-left{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    
}
.host-right
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    
}
.host-right img
{
    border-radius: 10px;    
}
.gallery{
    display:grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    margin:1rem;
}
.gallery-item{
    overflow: hidden;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:75%;
    height: auto;
}
.gallery-item picture {
    display: block;
    width: 100%;  
    height: auto;   
    box-sizing: border-box;
}
.gallery-item img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.left-arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* width:25px;
    height:25px; */
    background-color: var(--light-brown);
    padding: 1rem;
}

.right-arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* width:25px;
    height:25px; */
    background-color: var(--light-brown);
    padding: 1rem;
}
button{
    background-color: transparent;
    border:0;
    font-weight: 900;
    font-size: 2rem;
    padding: 1rem;
    font-family: var(--heading-font);
    cursor:pointer;
}