@media screen and (min-width: 640px)
{
    #menu {
        display: none; /* hide hamburger button */
    }
    .title h1{
        display: block;
    }
    .navigation {
        display: flex; /* Show the navigation as a flex container */
        flex-direction: row; /* Align the menu items horizontally */
        max-width: 100%;
        justify-content: space-between;
    }
    .navigation ul{
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .navigation li{
        flex:1;
    }
    .navigation a {
        display: block;
        text-align: center;
        text-decoration: none;
        flex: 1 1 100%;
    }
    .navigation.open {
        display: flex; /* Prevent hiding due to open class */
    }
    .hero
    {
        display:flex;
        flex-direction: row;
    }

   .hero-bee-before
    {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        margin:30px;
    }
    .hero-bee-after
    {
        display: none;
    }
    .hero-bee-before img{
        transform:rotate(-30deg);
    } 
     .gallery{
        grid-template-columns: repeat(3, 1fr);
    } 
    .gallery-item{
        display:flex;
        width:100%;
        height: auto;
    }
    .gallery-item a {
        display: block; 
        width: 100%;    
        height: auto;   
    }
    .gallery-item img{
        box-sizing: border-box;
        width: 100%;
        height: auto;
        object-fit: contain;
    } 
    .event-gallery{
        flex-direction: row;
    }

    .item-gallery{
        grid-template-columns: 33% 33% 33%;
    }
}