:root{
    --heading-font: "Playwrite HU";
    --normal-font:"Quicksand", sans-serif;
    --dark-brown: rgb(77, 45, 4);
    --light-blue:  #a1dee2;
    --yellow: #ebc700;
    --pink:  #F0D2D1;
    --light-brown: #dfb28a;
}
header, footer{
    background-color: var(--light-blue);
    margin:0;
    padding: 1rem;
    text-align: center;
}
body{
    font-family: var(--normal-font);
    max-width: 1080px;
}
h1,h2,h3{
    font-family: var(--heading-font);
}
table{
    padding: 1rem;
    /* border: 1px black solid; */
}
th, td
{
    padding: 1rem;
    border: 1px var(--dark-brown) solid;
}
td:first-child:not(:only-child)
{
    font-weight: bold;
}
.colors
{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 200px;
    width: 100%;
}
.color-item
{
    flex: 1 1 20%;
    display:flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}
.color1
{    
    background-color: var(--dark-brown);
    color: white;
}
.color2
{
    background-color: var(--light-blue);

}
.color3
{
    background-color: var(--yellow);
}
.color4
{
    background-color: var(--pink);
}
.color5
{
    background-color: var(--light-brown);
}
.fonts
{
    display:flex;
    flex-direction: column;
    height: 200px;   
    width: 100%;
    flex-wrap:nowrap;
    margin: 1rem 0 1rem 0;
    
}
.font1
{
    display:flex;
    font-family: var(--heading-font);
    font-size:2rem;
    flex: 1 1 auto;
    background-color: #a1dee2;
    align-items: center;
    justify-content: center;
}
.font2
{
    display:flex;
    font-family: var(--normal-font);
    flex: 1 1 auto;
    background-color: #dfb28a;
    justify-content: center;
    align-items: center;
}
.wireframe
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 1rem; */
}

.wireframe-item
{
    flex: 1 1 30%;

    display: flex;
    flex-direction: column; 
    max-width: 30%;  
   margin:1rem;
   box-sizing: border-box;
}
.wireframe-item img {    
    width: auto;   
    height: 100%;  
    padding: 1rem;
    object-fit: cover;
    /* max-height: 300px; */
}
figcaption {
    display: flex;
    justify-content: center;         /* Center the content in the caption */
    align-items: center;             /* Vertically center the content */
    width: 100%;                     /* Make the caption take up the full width of the image */
    /* padding: 1rem;  */
    text-align: center;    
    background-color: var(--pink);
    color: var(--dark-brown);  
    box-sizing: border-box; /*THIS is the property that kept the caption from overflowing */
    padding: 1rem;
}
figcaption div:first-child {
    flex-grow: 1;                /* Make the text (Main Page) take available space */
}
.wireframe-item figcaption div img{
width: 25px;
height: 25px;
object-fit: contain;
margin: 0;
padding: 0;
}
/* img{
    border: 1px black solid;
    
} */